@model VicLyfe2._0.Models.Points_Calculator

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> PR Points Calculator</h2>
<h3>Enter your Qualifications, Age, Work Experience and other characteristics to find out how much points you have scored.</h3>
<style>
    .form-horizontal{
        box-sizing: border-box;
    }
    .form-group {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        background-color:lightblue;
    }

</style>
<html>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <p>Select the Age Group you belong to from the drop down below.</p>
        @Html.LabelFor(model => model.Age_group, "Age_group", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Age_group", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Age_group, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Select the Language Profieicency based on your score in English Language Assessments Examinations (IELTS/PTE).</p>
        <p>IELTS - Level - Competent English - 6+ in all 4 components of IELTS</p>
        <p>IELTS - Level - Proficient English - 7+ in all 4 components of IELTS</p>
        <p>IELTS - Level - Superior English - 8+ in all 4 components of IELTS</p>

        @Html.LabelFor(model => model.Language_proficiency, "Language_proficiency", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Language_proficiency", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Language_proficiency, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Have you met the requirements for the award of degree, diploma, advanced diploma or trade qualifications which took atleast 2 years of full-time study in Australia ?</p>
        @Html.LabelFor(model => model.Australian_study_requirement, "Australian_study_requirement", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Australian_study_requirement", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Australian_study_requirement, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <p>What is your highest Qualification ?</p>
            @Html.LabelFor(model => model.Qualification, "Qualification", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Qualification", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Qualification, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Have you met the requirements for the award of an Australian Specialist educational qualification ?</p>
            @Html.LabelFor(model => model.Doctrate_or_Master_by_research, "Doctrate_or_Master_by_research", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Doctrate_or_Master_by_research", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Doctrate_or_Master_by_research, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>How long have you worked in your nominated field or closely related skilled occupation overseas ?</p>
            @Html.LabelFor(model => model.Overseas_work_experience, "Overseas_work_experience", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Overseas_work_experience", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Overseas_work_experience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>How long have you worked in your nominated field or closely related skilled occupation in Australia ?</p>
            @Html.LabelFor(model => model.Australian_work_experience, "Australian_work_experience", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Australian_work_experience", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Australian_work_experience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Does these apply to your partner ? Select one from the below list.</p>
            @Html.LabelFor(model => model.Partner_skills, "Partner_skills", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Partner_skills", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Partner_skills, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
             <p>Are you accredited as a para-professional interpreter or translator (level 2) by the Nation Accredition Authority for Translators and Interpreters.</p>
            @Html.LabelFor(model => model.Designated_language_skills, "Designated_language_skills", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Designated_language_skills", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Designated_language_skills, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Calculate Points" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
