@model IEnumerable<VicLyfe2._0.Models.Region>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Selected_region.Region_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Selected_region.Region_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Region_name }) |
            @Html.ActionLink("Details", "Details", new { id=item.Region_name }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Region_name })
        </td>
    </tr>
}

</table>
