@{
    ViewBag.Title = "Home Page";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    h1, h2, h3, h4, h5, h6 {
        font-family: "Oswald"
    }

    body {
        font-family: "Open Sans"
    }
</style>
<html>
<body class="w3-light-grey">


    <!-- w3-content defines a container for fixed size centered content,
    and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:1600px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-48 w3-white">
            <h1 class="w3-xxxlarge"><b>VicLyfe - A new beginning</b></h1>
            <h6>Regional Victoria <span class="w3-tag">The place to be</span></h6>
        </header>

        <!-- Image header -->
        <header class="w3-display-container w3-wide" id="home">
            <img class="w3-image" src="~/Content/DSC_6931.jpg" alt="Fashion Blog" width="1600" height="1060" style="opacity:0.8;">
            <div class="w3-display-left w3-padding-large">
                <h1 class="w3-text-black">VicLyfe, For Graduates</h1>
                <h1 class="w3-jumbo w3-text-black w3-hide-small"><b>Moving to Regional Victoria</b></h1>
                <h6>
                    <button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off">
                        <ul>
                            <li background-color="grey">@Html.ActionLink("What is VicLyfe?", "About", "Home")</li>
                        </ul>
                    </button>
                </h6>
            </div>
        </header>
        <div class="responsive">
            <div class="w3-container">
                <hr>
                <h3><b>We help in PR and finding a Regional City to live.</b></h3>
                <hr>
                <h5>Compare the different regions and cities against Melbourne yourself</h5>
                <p class="btn btn-primary btn-lg" style="background-color: grey; width:200px; margin-right:400px; float: right">
                    @Html.ActionLink("Comparsion >>", "Compare", "Home")
                </p>
                <hr>
                <hr>
                <h5>Get how many points could you get for PR application.</h5>
                <p class="btn btn-primary btn-lg" style="background-color: grey; width:200px; margin-right:400px; float: right">
                    @Html.ActionLink("Points Calculator >>", "Create", "Points_Calculator")
                </p>
                <hr>
                <hr>
                <h5>Find the region and suburb for you.</h5>
                <p class="btn btn-primary btn-lg" style="background-color: grey; width:200px; margin-right:400px; float: right">
                    @Html.ActionLink("Choose a Suburb >>", "FYR", "FindYourRegion")
                </p>
            </div>


            <hr>
            <img src="~/Content/map-of-victoria-australia-s-guide-and-gippsland.jpg" alt="Nature" style="width:100%;height:600px;">
            <hr>
        </div>

            <!-- Footer -->
            <footer class="w3-center w3-black w3-padding-64">
                <div>
                    <p align="center" background-color="grey">@Html.ActionLink("Go Back to the Top", "Index", "Home")</p>
                </div>
         
            </footer>



            <script>
                // Toggle between hiding and showing blog replies/comments
                document.getElementById("myBtn").click();
                function myFunction(id) {
                    var x = document.getElementById(id);
                    if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                    } else {
                        x.className = x.className.replace(" w3-show", "");
                    }
                }

                function likeFunction(x) {
                    x.style.fontWeight = "bold";
                    x.innerHTML = "✓ Liked";
                }
            </script>

</body>
</html>


