@model IEnumerable<VicLyfe2._0.Models.User_preference>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3><b>Based on the preferences we have suggested 3 suburbs. We have kept all your preferences into consideration
    while choosing the suburbs</b></h3>
<body>
    <style>
        ul.a {
            list-style-position: outside;
        }
    </style>
    <ul class="a">
        <li><h4>@ViewBag.Suburb1</h4></li>
        <button onclick="{location.href='Explor1'}" class="btn btn-primary btn-lg" style="float: right">
            <font size=4px>Explore this suburb</font>
        </button>
        <br> </br>

        <li><h4>@ViewBag.Suburb2</h4></li>
        <button onclick="{location.href='Explor2'}" class="btn btn-primary btn-lg" style="float: right">
            <font size=4px>Explore this suburb</font>
        </button>
        <br> </br>
        <li><h4>@ViewBag.Suburb3</h4></li>
        <button onclick="{location.href='Explor3'}" class="btn btn-primary btn-lg" style="float: right">
            <font size=4px>Explore this suburb</font>
        </button>
        <br> </br>

    </ul>
    <br />

    <p class="btn btn-primary btn-lg" style="background-color: white">
    @Html.ActionLink("View Report", "Report", "User_preference")</p>

    <p class="btn btn-primary btn-lg" style="background-color: white; float: right">
    @Html.ActionLink("Return", "Create", "User_preference")</p>

</body>